body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.game-title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 0px black;
  margin: 50px 0;
  padding: 30px 0;
}

body::after {
  content: "";
  position: absolute;
  top: 20%;
  width: 100%;
  height: 60%;
  background-image: url("images/moving_background.gif");
  background-size: cover;
  background-position: center;
  z-index: -3;
}

.top-section, .bottom-section {
  position: absolute;
  width: 100%;
  height: 20%;
  z-index: -1;
}

.top-section {
  top: 0;
  background-color: #fcb5a3;
}

.bottom-section {
  bottom: 0;
  background-color: #041414;
}

.racetrack {
  position: relative;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid black;
  object-fit: contain;
  background-image: url("images/racetrack.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.player {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 30%;
  transform: translateY(-50%);
}

#player2 {
  top: 75%;
}

.buttons-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 2;
}

#start-btn, #reset-btn {
  padding: 12px 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  width: 200px;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#start-btn {
  background-color: #fcb5a3;
  color: white;
}

#start-btn:hover {
  background-color: #f79e8b;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

#start-btn:active {
  background-color: #f47b5f;
}

#reset-btn {
  background-color: #041414;
  color: white;
}

#reset-btn:hover {
  background-color: #032929;
  transform: scale(1.05);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.controls-box {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 15px 20px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-align: left;
  border: 3px solid white;
  box-shadow: 4px 4px 0px white;
  line-height: 1.8;
}
